.additionally {
  @include fieldset-none;
  margin-bottom: 39px;
}

.additionally__title {
  margin-bottom: 39px;
}

.additionally__choice {
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 44px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      padding-left: 30px;
      box-sizing: border-box;
    }
  }

  @media (min-width: $descktop-width) {
    width: 25%;
    margin: 0;

    &:nth-child(2n) {
      padding: 0;
    }
  }
}

.additionally__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 65px;
  }
}

.additionally__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 18px;
  }
}
