.advantages__wrapper {
  padding: 0 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $descktop-width) {
    padding: 0 110px;
  }
}

.advantages__title {
  font-family: $font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  counter-reset: myCounter;

  @include clear-list;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    counter-reset: myCounter;
  }

  @media (min-width: $descktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
  }
}

.advantages__item {
  font-family: $font-standart;
  font-weight: 400;
  font-size: $standart-size;
  color: $special_dark-grey;
  padding-left: 80px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 230px;
    padding: 0;
    padding-top: 155px;
    z-index: 2;
    position: relative;

    &::after {
      position: absolute;
      counter-increment: myCounter;
      content: counter(myCounter);
      font-family: $font-family;
      font-size: 280px;
      line-height: 280px;
      color: $background-gray;
      display: inline-block;
      text-align: center;
      top: 0;
      right: 0;
      width: 134px;
      height: 280px;
      z-index: 1;
    }
  }

  &--fast {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: 0;
      top: 5px;
      background-image: url("../img/fast.svg");
    }
  }

  &--healthy {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: 0;
      top: 5px;
      background-image: url("../img/healthy.svg");
    }
  }

  &--replacement {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: 0;
      top: 5px;
      background-image: url("../img/replacement.svg");
    }
  }

  &--change {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      left: 0;
      top: 5px;
      background-image: url("../img/change.svg");
    }
  }
}
