.advantages__wrapper {
  padding: 0 20px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $descktop-width) {
    padding: 0 110px;
  }
}

.advantages__title {
  font-family: $font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  counter-reset: myCounter;

  @include clear-list;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: myCounter;
    padding-bottom: 9px;
    border-bottom: $nav-border;
    margin-bottom: 18px;
  }

  @media (min-width: $descktop-width) {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.advantages__item {
  font-family: $font-standart;
  font-weight: 400;
  font-size: $standart-size;
  color: $special_dark-grey;
  padding-left: 80px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 230px;
    padding: 0;
    padding-top: 153px;
    margin-bottom: 92px;
    margin-right: 153px;
    position: relative;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      counter-increment: myCounter;
      content: counter(myCounter);
      font-family: $font-family;
      font-size: 280px;
      line-height: 280px;
      color: $background-gray;
      display: inline-block;
      text-align: center;
      top: 0;
      right: -10px;
      width: 134px;
      height: 280px;
      z-index: 1;
    }
  }

  @media (min-width: $descktop-width) {
    margin-right: 94px;
    min-width: 230;

    &:nth-child(2n) {
      margin-right: 94px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--fast {
    position: relative;

    &::before {
      background-image: url("../img/fast.svg");
    }
  }

  &--healthy {
    position: relative;

    &::before {
      background-image: url("../img/healthy.svg");
    }
  }

  &--replacement {
    position: relative;

    &::before {
      background-image: url("../img/change.svg");
    }
  }

  &--change {
    position: relative;

    &::before {
      background-image: url("../img/replacement.svg");
    }
  }
}

.advantages__text {
  line-height: 18px;
  position: relative;
  z-index: 2;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 245px;
    line-height: 24px;
  }
}
