.button {
  font-family: inherit;
  background-color: $basic-green;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic;
  text-decoration: none;
  border: none;
  margin: 0;

  &--silver {
    font-size: 16px;
    line-height: 20px;
    color: $special_dark-grey;
    background-color: $background-gray;
    padding: 20px 94px;

    @media (min-width: $descktop-width) {
      padding: 20px 70px;
    }
  }
}
