.catalog {
  padding-top: 14px;
}

.catalog__list {
  @include clear-list;
  border-top: $nav-border;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.catalog__item {
  border-bottom: $nav-border;
  margin-top: 20px;
  padding-bottom: 24px;

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      margin-right: 60px;
      border-bottom: none;
    }

    @media (min-width: $descktop-width) {
      margin-right: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-bottom: 120px;
    padding-bottom: 0;
  }

  @media (min-width: $descktop-width) {
    margin-right: 80px;
    margin-bottom: 125px;
  }

  &:nth-child(4n) {
    @media (min-width: $descktop-width) {
      margin-right: 0;
    }
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px;
  display: block;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: $white-hover;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: $descktop-width) {
    padding: 10px 53px;
    max-width: 168px;
  }

  &--other {
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 11px;
    }

    @media (min-width: $descktop-width) {
      padding: 10px 38px;
      width: 244px;
      margin: 0;
    }
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    background-color: $basic;
    padding-left: 0;
  }

  @media (min-width: $descktop-width) {
    padding: 0;
    width: 1220px;
  }
}
