$basic: #ffffff;
$white-hover: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$basic-green: #68b738;
$background-green:rgba(104, 183, 56, 0.85);
$dark-green: #5eaa2f;
$background-gray:#f2f2f2;
$special_dark-grey: #444444;
$form_dark-gray: #222222;
$social-gray: #666666;
$background-gray-2: #eaeaea;
$nav-border: 1px solid #e6e6e6;
$program-border: 1px solid #d9d9d9;
$bg-green: #64a73c;
