.comment {
  @include fieldset-none;
  margin-top: 23px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 18px;
    margin-top: 20px;
  }
}

.comment__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $descktop-width) {
    padding: 0;
  }
}

.comment__field {
  display: block;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin: 0;
  margin-top: 37px;
  border: 1px solid $border-color;
  padding: 9px 13px;
  resize: none;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    padding: 9px 19px;
  }
}
