.conteiner {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $descktop-width) {
    padding: 0 110px;
    max-width: 1220px;
    margin: 0 auto;
  }
}
