.contacts {
  @include fieldset-none;

  margin-top: 26px;
}

.contacts__title {
  height: 50px;
  margin-bottom: 37px;
}

.contacts__field {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $descktop-width) {
    margin: 0;
    width: 50%;

    &--email {
      margin-right: 60px;
    }

    &--tel {
      margin-left: 19px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 77px;
    margin-bottom: 44px;
    padding: 0 40px;
  }

  @media (min-width: $descktop-width) {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 73px;
    padding: 0;
  }
}
