.cooperation {
  background-color: $basic;
  position: relative;
}

.cooperation__title {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  max-width: 171px;
}

.cooperation__address {
  font-family: $font-standart;
  font-size: $standart-size;
  line-height: 20px;
  color: $special_dark-grey;
  margin: 0;
  max-width: 160px;
}

.cooperation__text {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 71px;
  }

  @media (min-width: $descktop-width) {
    position: absolute;
    background-color: $basic;
    top: 50%;
    left: 50%;
    transform: translate(-600px, -50%);
  }
}

.cooperation__map {
  width: 100%;
}
