.cooperation {
  background-color: $basic;
  position: relative;
}

.cooperation__title {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 171px;
  }

  @media (min-width: $descktop-width) {
    margin-right: 87px;
  }
}

.cooperation__address {
  font-family: $font-standart;
  font-size: $standart-size;
  line-height: 20px;
  color: $special_dark-grey;
  margin: 0;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 155px;
  }
}

.cooperation__text {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 28px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 0 71px;
    padding-top: 66px;
    margin-bottom: 55px;
  }

  @media (min-width: $descktop-width) {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $basic;
    top: 50%;
    left: 50%;
    transform: translate(-610px, -52%);
    max-width: 410px;
    height: 201px;
    padding-left: 75px;
    padding-right: 89px;
    padding-top: 0;
    margin: 0;
  }
}

.cooperation__map {
  width: 100%;
  display: block;
}

.cooperation__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
