.copyright__link {
  font-family: $font-standart;
  text-decoration: none;
  font-size: 16px;
  line-height: 18.4px;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;


  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 163px;
  }
}
