.example {
  background-color: $background-gray-2;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic 56.5%, $background-gray-2 43.5%);
    padding-bottom: 76px;
  }

  @media (min-width: $descktop-width) {
    background: none;
    padding: 0;
  }
}

.example__wrapper {
  @media (min-width: $descktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    position: relative;
    padding-bottom: 68px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 750px;
      z-index: 1;
      background: linear-gradient(to right, #f2f2f2 48%, #eaeaea 0%);
    }
  }
}

.example__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $descktop-width) {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 570px;
    justify-content: flex-end;
  }
}

.example__grad {
  @media (min-width: $descktop-width) {
    position: relative;
    background: linear-gradient(to right, $background-gray 75%, $background-gray-2 25%);
  }
}

.example__title {
  font-family: $font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 78px;
  }
}

.example__description {
  font-family: $font-standart;
  font-size: $standart-size;
  color: $special_dark-grey;
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;
  max-width: 279px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 700px;
    margin-bottom: 53px;
  }

  @media (min-width: $descktop-width) {
    max-width: 436px;
    margin-bottom: 68px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  position: relative;
}

.example__number {
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  width: 124px;
  height: 56px;
  padding-top: 14px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  order: 2;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 72px;
  }
}

.example__text {
  font-family: $font-standart;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  margin-left: 0;
  text-align: center;
  width: 77px;
  background-color: $background-gray-2;
  order: 1;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic;
    top: 64px;
    width: 130px;
  }

  @media (min-width: $descktop-width) {
    background-color: $background-gray;
  }
}

.example__cost {
  display: flex;
  justify-content: center;
  font-family: $font-family;
  font-size: $standart-size;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: end;
    padding-top: 9px;
  }

  @media (min-width: $descktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 327px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.example__costprice {
  margin: 0;
  line-height: 30px;
}

.example__stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (min-width: $descktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $descktop-width) {
    width: 690px;
  }
}

.example__picture {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 620px;
  }

  @media (min-width: $descktop-width) {
    height: 536px;
    width: auto;
    position: absolute;
    top: -265px;
    left: -70px;
    z-index: 2;
    margin-bottom: 0;
  }
}

.example__scale {
  width: 84px;
  height: 14px;
  background-color: $basic;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin: 0 17px;
    background-color: #cdcdcd;
    border: none;
  }
}

.example__bar {
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: 6px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: $basic;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      position: absolute;
      content: "";
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }
}

.example__range-controls {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 620px;
    left: 40px;
    text-align: center;
    justify-content: center;
  }

  @media (min-width: $descktop-width) {
    top: 288px;
    left: 10px;
  }
}
