.example {
  background-color: $background-gray-2;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic 50%, $background-gray-2 50%);
  }

  @media (min-width: $descktop-width) {
    background: none;
  }
}

.example__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 43px;
  }

  @media (min-width: $descktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
}

.example__wrap {
  @media (min-width: $descktop-width) {
    margin: 0;
    padding: 0;
    width: 570px;
  }
}

.example__grad {
  @media (min-width: $descktop-width) {
    background: linear-gradient(to right, #f2f2f2 65%, $background-gray-2 35%);
  }
}

.example__title {
  font-family: $font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $descktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.example__description {
  font-family: $font-standart;
  font-size: $standart-size;
  color: $special_dark-grey;
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/4;
    grid-row: 2/3;
  }

  @media (min-width: $descktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 25px;
}

.example__number {
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  font-family: $font-standart;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  font-family: $font-family;
  font-size: $standart-size;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__stats {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $descktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
