.form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 71px;
  }

  @media (min-width: $descktop-width) {
    padding-bottom: 82px;
  }
}

.form__box {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $descktop-width) {
    margin: 0 auto;
    padding: 0 110px;
  }
}

.form__button {
  width: 100%;
  display: block;
  padding: 11px 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    margin-right: 61px;
    max-width: 280px;
  }

  @media (min-width: $descktop-width) {
    max-width: 568px;
    margin-right: 81px;
    padding: 11px 0;
  }

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: $white-hover;
  }
}

.form__required {
  font-family: $font-standart;
  text-align: center;
  font-weight: 400;
  display: block;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $descktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__flex {
  @media (min-width: $descktop-width) {
    display: flex;
    margin: 0 auto;
    margin-bottom: 65px;
    align-items: flex-start;
    padding: 0 110px;
    width: 1220px;
    justify-content: space-between;
  }
}

.form__person {
  @media (min-width: $descktop-width) {
    .container {
      width: inherit;
      padding: 0;
    }

    width: 570px;
    margin-bottom: 0;
  }
}

.form__goal {
  margin-top: 22px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $descktop-width) {
    margin: 0;
    width: 512px;
    box-sizing: border-box;

    .container {
      width: inherit;
      padding: 0;
    }
  }
}

.form__request {
  @media (min-width: $tablet-width) {
    display: flex;
    width: inherit;
    align-items: center;
    padding: 0 40px;
  }

  @media (min-width: $descktop-width) {
    padding: 0;
  }
}

.form__wrapper {
  .container {
    @media (min-width: $descktop-width) {
      padding: 0;
    }
  }
}
