.input-text {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  min-width: 172px;
  flex: 1;
  border: 1px solid $border-color;
  padding: 13px 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0;
    padding-left: 19px;
  }

  &:focus {
    border-color: $basic-black;
  }

  &--email {
    background-image: url("/img/icon_email.svg");
    background-repeat: no-repeat;
    background-position: 184px;

    @media (min-width: $tablet-width) {
      background-position: 514px;
    }

    @media (min-width: $descktop-width) {
      background-position: 448px;
    }
  }

  &--tel {
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 184px;

    @media (min-width: $tablet-width) {
      background-position: 498px;
    }

    @media (min-width: $descktop-width) {
      background-position: 435px;
    }
  }
}
