.input-option {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $form_dark-gray;
  padding-left: 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
  }
}

.input-option__radio {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  margin-left: -45px;
  background-image: url("../img/radiobutton.svg");

  &:hover {
    background-image: url("../img/radiobutton_hover.svg");
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: -59px;
    background-image: url("../img/radiobutton-dt.svg");

    &:hover {
      background-image: url("../img/radiobutton_hover-dt.svg");
    }
  }
}

.input-option__checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  margin-left: -45px;
  background-image: url("../img/checkbox.svg");

  &:hover {
    background-image: url("../img/checkbox_hover.svg");
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: -59px;
    background-image: url("../img/checkbox-dt.svg");

    &:hover {
      background-image: url("../img/checkbox-hover-dt.svg");
    }
  }
}
