.main-nav {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;
  background-color: $basic;
}

.main-nav__list {
  @include clear-list;
  border-bottom: $nav-border;
  padding: 0;

  a {
    text-decoration: none;
    color: $basic-black;
    line-height: 20px;
    border-bottom: $nav-border;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
