.main-nav {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;
  background-color: $basic;
  width: auto;
  position: relative;

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  &--closed .main-nav__toggle:active::before {
    background-color: fade(#000000, 30%);
    box-shadow:
      0 8px 0 0 fade(#000000, 30%),
      0 16px 0 0 fade(#000000, 30%);
  }

  &--closed .main-nav__list {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: -6px;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#ffffff, 30%);
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    background: none;
  }

  &--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__list {
  @include clear-list;
  border-bottom: $nav-border;
  display: flex;
  flex-direction: column;
  width: auto;

  .main-nav__link {
    display: block;
    color: $basic-black;
    line-height: 20px;
    margin: 22.5px auto;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      margin: 12px auto;
      margin-top: 18px;
    }

    @media (min-width: $descktop-width) {
      margin-top: 16px;
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 30px;
    }

    &--colorbg {
      @media (min-width: $descktop-width) {
        color: $basic;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}

.main-nav__item {
  border-top: $nav-border;
  width: 100%;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 35px;
    width: auto;

    &--active-colorbg {
      border-bottom: 2px solid $basic-green;

      @media (min-width: $descktop-width) {
        border-bottom: 2px solid $basic-green;
      }
    }

    &--active {
      border-bottom: 2px solid $basic-green;

      @media (min-width: $descktop-width) {
        border-bottom: 2px solid $basic-green;
      }
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.main-nav__item--active-colorbg {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $descktop-width) {
    border-bottom: 2px solid $basic;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -40px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  background-color: $basic;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
