
.more__title {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 8px;
}

.more__text {
  font-family: $font-standart;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin-top: 0;
  margin-bottom: 21px;
}

.more__block {
  margin-bottom: 25px;
}
