.more {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    max-height: 429px;
    display: flex;
    align-items: flex-end;
  }

  @media (min-width: $descktop-width) {
    width: 245px;
  }
}

.more__title {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 0;
  margin-bottom: 8px;
}

.more__text {
  font-family: $font-standart;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin-top: 0;
  margin-bottom: 21px;
}

.more__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 178px;
  margin-bottom: 25px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
