.other-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 18px;

  @media (min-width: $descktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.other-product__section {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.other-product__link-text {
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $form_dark-gray;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 0;
  }
}

.other-product__block {
  margin: 0;
  margin-bottom: 28px;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 230px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 0;
  }
}

.other-product__value {
  margin-left: 0;
}

.other-product__item {
  display: flex;
  justify-content: space-between;
  font-family: $font-standart;
  font-size: $standart-size;
  font-weight: 400;
  line-height: 14px;
  color: $special_dark-grey;
}
