
.other {
  @media (min-width: $tablet-width) {
    margin-top: -55px;
  }

  @media (min-width: $descktop-width) {
    margin-top: -45px;
    margin-bottom: 85px;
  }
}

.other__block {
  padding-top: 33px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    margin-bottom: 75px;
  }

  @media (min-width: $descktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.other__title {
  font-family: $font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.other__list {
  @include clear-list;
  border-top: $nav-border;
  border-bottom: $nav-border;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    border: 1px solid $border-check;
    margin-bottom: 70px;
  }

  @media (min-width: $descktop-width) {
    width: 896px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: $nav-border;
    margin-bottom: 0;
  }
}

.other__gift {
  background-image: url("../img/gift-back.jpg");
  background-repeat: no-repeat;
  padding-top: 186px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-back-tb.jpg");
    padding-top: 71px;
    padding-bottom: 69px;
  }

  @media (min-width: $descktop-width) {
    background-image: url("../img/gift-dt.jpg");
    padding-top: 0;
    padding-bottom: 0;
    width: 245px;
  }
}

.other__item {
  padding-top: 12px;
  border-bottom: $nav-border;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media (min-width: $descktop-width) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
  }
}
