.page-header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: $basic;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 62px;
    margin: auto;
    margin-top: 31px;
    margin-bottom: 62px;
    padding: 0 30px;
    max-width: 708px;
  }

  @media (min-width: $descktop-width) {
    padding: 53px 110px;
    padding-bottom: 0;
    margin-bottom: 32px;
    position: relative;
    z-index: 2;
    background: none;
    max-width: 1220px;
  }
}

.page-header__logo {
  margin-left: 0;
  padding: 0 20px;
  padding-bottom: 12px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 174px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
