.page-footer {
  background-color: $background-gray;
}

.page-footer__logo {
  padding: 0 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  padding: 32px 0;
  border-bottom: $program-border;
}
