.page-footer {
  background-color: $background-gray;
}

.page-footer__cooperation {

  background-color: $basic;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 27px;
  width: 128px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    display: block;
  }
}

.page-footer__color {
  background-color: $background-gray;
}

.page-footer__link {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
