.person {
  @include fieldset-none;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 0;
  }
}

.person__field {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
