.product {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 190px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 252px;
    max-height: 511px;
    padding: 0 36px;
    padding-bottom: 40px;
    min-height: 511px;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to top, $background-gray 90%, $basic 10%);
  }

  @media (min-width: $descktop-width) {
    width: 180px;
  }
}

.product__inf {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
}

.product__link-text {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  display: flex;
  margin-bottom: 14px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 145px;
    text-align: center;
    display: flex;
    margin: 0 auto;
  }
}

.product__property-item {
  display: flex;
  justify-content: space-between;
  font-family: $font-standart;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  min-width: 142px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid $border-check;
  }
}

.product__block {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-top: 23px;
    margin-bottom: 33px;
    width: 252px;
  }

  @media (min-width: $descktop-width) {
    width: 180px;
  }
}

.product__property-value {
  margin-left: 0;
}

.product__content {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
  }
}

.product__ing {
  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.product__link-img {
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 215px;
  }
}
