.product {
  margin-bottom: 14px;
}

.product__link-text {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 18px;
}

.product__property-item {
  font-family: $font-standart;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin-bottom: 6px;
}

.product__block {
  margin: 0;
}

.product__property-value {
  margin-left: 0;
}

.product__content {
  margin-bottom: 13px;
}
