.program__title {
  font-family: $font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 71px;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $descktop-width) {
    padding-left: 162px;
    margin-bottom: 75px;
  }
}

.program__description {
  font-family: $font-standart;
  font-size: $standart-size;
  line-height: 18px;
  border-bottom: $program-border;
  margin: 0;
  padding-bottom: 22px;
  margin-bottom: 19px;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 376px;
    border-bottom: none;
    margin-bottom: 28px;
  }

  @media (min-width: $descktop-width) {
    margin-right: 0;
    max-width: 467px;
    margin-bottom: 5px;
  }

  &--mass {
    @media (min-width: $tablet-width) {
      max-width: 342px;
    }

    @media (min-width: $descktop-width) {
      max-width: 457px;
    }
  }
}

.program__to-catalog {
  display: block;
  font-family: $font-family;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  background-color: $background-gray;
  color: $basic-black;
  text-decoration: none;
  position: relative;
  margin-bottom: 22px;


  &::after {
    content: "";
    position: absolute;
    left: 101px;
    top: 2px;
    width: 24px;
    height: 12px;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 128px;
      top: 10px;
    }
  }

  &:hover {
    opacity: 0.8;

    &::after {
      left: 150px;
      width: 32px;
      height: 10px;
      background-image: url("../img/icon.svg");
    }
  }

  &:active {
    opacity: 0.6;

    &::after {
      left: 150px;
      width: 32px;
      height: 10px;
      background-image: url("../img/icon.svg");
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 58px;
    width: 161px;
  }
}
