.promo {
  font-family: $font-family;
  color: $basic;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 63%;
    background-image: url("../img/green-cat.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #64a73c;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/green-cat2x.jpg");
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $basic-black;
    background-color: $basic;
  }

  @media (min-width: $descktop-width) {
    background: none;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 27px;
  position: relative;
  z-index: 2;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding-left: 112px;
    padding-top: 0;
    height: 810px;
    margin-bottom: 0;
    width: 626px;
  }

  @media (min-width: $descktop-width) {
    margin-bottom: 0;
    position: relative;
    height: auto;
    width: auto;
  }
}

.promo__title {
  font-family: $font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  max-width: 249px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    max-width: 414px;
    order: 1;
    margin-bottom: 42px;
    text-align: start;
    padding-left: 5px;
  }

  @media (min-width: $descktop-width) {
    padding-left: 80px;
  }
}

.promo__slogan {
  font-family: $font-family;
  font-size: $standart-size;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    order: 1;
    margin-bottom: 50px;
    padding-left: 5px;
  }

  @media (min-width: $descktop-width) {
    padding-left: 80px;
  }
}

.promo__to-programs {
  font-size: $standart-size;
  line-height: 18px;
  padding: 0 44px;
  padding-top: 10px;
  text-align: center;
  width: 192px;
  min-height: 28px;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: $white-hover;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    max-width: 244px;
    padding-bottom: 10px;
    order: 1;
    z-index: 2;
  }

  @media (min-width: $descktop-width) {
    margin-left: 80px;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    order: 2;
    z-index: 1;
    top: 200px;
    right: 113px;
  }

  @media (min-width: $descktop-width) {
    position: absolute;
    right: 330px;
    top: -80px;
  }
}
