.slider__toggle {
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
