.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @media (min-width: $descktop-width) {
    padding-bottom: 70px;
  }
}

.slider__toggle {
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
