.social {
  padding: 0;
  background-color: $background-gray;
}

.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 130px;

  @include clear-list;
  border-bottom: $program-border;
  border-top: $program-border;
  padding: 18px 53px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    min-width: 129px;
  }
}

.social__item {
  padding: 20px auto;
}

.social__link {
  color: $social-gray;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--vkontakte {
      svg {
        width: 30px;
        height: 22px;
      }
    }

    &--instagram {
      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      svg {
        width: 28px;
        height: 33px;
      }
    }
  }
}
