.social {
  padding: 0 20px;
  background-color: $background-gray;
}

.social__list {
  display: flex;
  justify-content: space-around;

  @include clear-list;
  border-bottom: $program-border;
  border-top: $program-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__link {
  color: $social-gray;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
