.title-line {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $basic-green;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
  }
}

.title-line__text {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: $basic;
  padding-right: 24px;
  max-width: 181px;

  &--catalog {
    min-width: 226px;

    @media (min-width: $tablet-width) {
      width: 338px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 100%;
    background-color: $basic;
    left: -24px;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 512px;
    padding-right: 38px;
    padding-left: 38px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $descktop-width) {
    padding-left: 0;

    &::before {
      display: block;
      width: 38px;
      left: -38px;
    }
  }
}
