.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  font-family: $font-special, $font-standart;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: $standart-weight;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  font-family: $font-standart;
  font-style: normal;
  font-weight: $standart-weight;
  font-size: $standart-size;
  color: $special_dark-grey;
  padding: 12px 0;
  padding-left: 80px;
}

.advantages__item--fast {
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    left: 0;
    top: 5px;
    background-image: url("../img/fast.svg");
  }
}

.advantages__item--healthy {
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    left: 0;
    top: 5px;
    background-image: url("../img/healthy.svg");
  }
}

.advantages__item--replacement {
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    left: 0;
    top: 5px;
    background-image: url("../img/replacement.svg");
  }
}

.advantages__item--change {
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    left: 0;
    top: 5px;
    background-image: url("../img/change.svg");
  }
}
