@font-face {
  font-family: "Oswald regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}

$font-family: "Oswald", "Arial", sans-serif;
$font-special: "Oswald regular", sans-serif;
$font-special-medium: "Oswald medium", sans-serif;
$font-standart: "Arial", sans-serif;
$standart-size: 14px;
$standart-weight: 400;
$up-transform: uppercase;
