.program__title {
  font-family: $font-special;
  font-weight: $standart-weight;
  font-size: 24px;
  line-height: 37px;
  text-transform: $up-transform;
  padding-left: 91px;
  padding-top: 30px;
  margin: 0;
}

.program__title--slim {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    left: 23px;
    top: 20px;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat_slim.svg");
    background-repeat: no-repeat;
  }
}

.program__title--mass {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    left: 15px;
    top: 20px;
    width: 67px;
    height: 50px;
    background-image: url("../img/cat__mass.svg");
    background-repeat: no-repeat;
  }
}

.program__description {
  font-family: $font-standart;
  font-size: $standart-size;
  font-weight: $standart-weight;
  line-height: 18px;
  margin: 0;
  padding: 22px 22px;
  padding-bottom: 23px;
  border-bottom: $program-border;
}

.program__to-catalog {
  font-family: $font-special;
  font-weight: $standart-weight;
  text-transform: $up-transform;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-decoration: none;
  position: relative;
  padding-top: 14px;
  margin-bottom: 14px;

  &::after {
    content: " ";
    position: absolute;
    left: 120px;
    top: 20px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
  }
}
