// Начните писать стили здесь
@import "./blocks/color.scss";
@import "./blocks/font-face.scss";
@import "./blocks/mixin.scss";
@import "./variables.scss";
@import "./blocks/container.scss";
@import "./global.scss";
@import "./blocks/page.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/button.scss";
@import "./blocks/programs.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/copyright.scss";
@import "./blocks/social.scss";
@import "./blocks/page-title.scss";
@import "./blocks/form.scss";
@import "./blocks/filter.scss";
@import "./blocks/title-line.scss";
@import "./blocks/input-text.scss";
@import "./blocks/input-option.scss";
@import "./blocks/goal.scss";
@import "./blocks/contacts.scss";
@import "./blocks/comment.scss";
@import "./blocks/additionally.scss";
@import "./blocks/page-main.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product.scss";
@import "./blocks/more.scss";
@import "./blocks/other.scss";
@import "./blocks/other-product.scss";
@import "./blocks/gift.scss";
